/*
 * Estilos de tu proyecto
 */

body {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    background-color: #fff;
    /* Enlaza la tipografia Open Sans */
}

.link {
    font-weight: 700;
    padding: 21px;
    text-decoration: none;
    color: whitesmoke;
}

.menu {
    background-color: #3C4366;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu.flex-container {
    justify-content: flex-start;
}

.texto-container {
    margin-left: auto;
    margin-right: 20px;
}

.texto {
    font-weight: 700;
    padding: 21px;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
}

#home {
    height: 600px;
    margin-top: 70px;
    /*background-image: url(../assets/images/bg-home.jpg);*/
    background-color: #58CAAD;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}

.linea1 {
    height: 5px;
    width: 15%;
    background-color: white;
    margin-left: 0%;
    margin-right: 30%;
    display: inline-block;
}

.icon-star:before {
    content: "✰";
    font-size: 30px;
    float: right;
}

.linea2 {
    height: 5px;
    width: 15%;
    background-color: white;
    margin-left: 30%;
    margin-right: 0%;
    margin-top: -20px;
    display: inline-block;
}

.text-home {
    font-size: 2.4em;
}

#services {
    background-color: white;
    text-align: center;
    color: #3C4366;
    padding: 150px;
}

#services.flex-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.linea3 {
    height: 5px;
    width: 15%;
    background-color: #3C4366;
    margin-left: 0%;
    margin-right: 30%;
    display: inline-block;
}

.icon-star1:before {
    content: "✰";
    font-size: 30px;
    float: right;
}

.linea4 {
    height: 5px;
    width: 15%;
    background-color: #3C4366;
    margin-left: 50%;
    margin-right: 0%;
    margin-top: -55px;
    display: inline-block;
}

.box-services {
    font-weight: bold;
}

#about {
    background-color: #58CAAD;
    text-align: center;
    color: #fff;
    padding: 70px;
}

#about.flex-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.linea5 {
    height: 5px;
    width: 15%;
    background-color: white;
    margin-left: 0%;
    margin-right: 30%;
    display: inline-block;
}

.icon-star:before {
    content: "✰";
    font-size: 30px;
    margin-top: -20px;
}

.linea6 {
    height: 5px;
    width: 15%;
    background-color: white;
    margin-left: 30%;
    margin-right: 0%;
    margin-top: -20px;
    display: inline-block;
}

.box-about {
    font-size: 1.5em;
    font-weight: bold;
}

#contact {
    background-color: #fff;
    text-align: center;
    color: #3C4366;
    padding: 70px;
}

#contact.flex-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-contact {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    background: #373B47;
    text-align: center;
    padding: 600px;
    color: white;
    padding-top: 7px;
}

#foot.flex-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-foot {
    font-size: 1.2em;
    font-weight: bold;
}